{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Tourism Management</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/aboutstyle.css'  %}" />
</head>
<body>
<nav class="navbar">
    <div class="logo">TTM</div>
    <ul class="nav-links">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <a href="{% url 'home' %}">HOME</a>&nbsp;&nbsp;
            <a href="{% url 'about' %}">ABOUT</a>&nbsp;&nbsp;
            <a href="{% url 'contact' %}">CONTACT</a>&nbsp;&nbsp;
            <a href="{% url 'gallery' %}">GALLERY</a>&nbsp;&nbsp;
            <a href="{% url 'login' %}">LOGOUT</a>&nbsp;&nbsp;
        </div>
    </ul>
</nav>
<h1 align="center"><font color="black"> About Us </font></h1>
</body>
</html>
