{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Tourism Management</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/indexstyle.css'  %}" />
</head>
<body>
<nav class="navbar">
    <div class="logo">TTM</div>
    <ul class="nav-links">
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
            <a href="{% url '' %}">HOME</a>&nbsp;&nbsp;
            <a href="{% url 'login' %}">LOGIN</a>&nbsp;&nbsp;
        </div>
    </ul>
</nav>
{% block 'b1' %}
<h1 align="center"><font color="black"> Travel Tourism Management </font></h1>
{% endblock %}
</body>
</html>
